<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.css"
          th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../../resources/bower_components/bootstrap/dist/css/bootstrap-theme.css"
          th:href="@{/lib/bootstrap/dist/css/bootstrap-theme.min.css}">
    <script type="text/javascript" src="../../../resources/bower_components/jquery/dist/jquery.js"
            th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" src="../../../resources/bower_components/bootstrap/dist/js/bootstrap.js"
            th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
</head>
<body style="margin-top: 30px;">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-globe"></span>
        </a>

        <a role="button" class="btn btn-primary navbar-btn pull-right" data-toggle="collapse" href="#loginForm"
           aria-expanded="false" aria-controls="loginForm">Sign in</a>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Max Web</h1>
        <p>A Java-EE project demo</p>

        <div class="alert alert-danger" th:if="${error ne null}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error:</strong>
            <th:block th:text="${error}"></th:block>
        </div>
        <div class="alert alert-info" th:if="${logout ne null}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Logout:</strong>
            <th:block th:text="${logout}"></th:block>
        </div>

        <hr/>

        <form id="loginForm" action="#" method="post" th:classappend="${error eq null}?'collapse':''"
              class="form-horizontal col-lg-6 col-md-6" role="form" th:action="@{/login}">
            <div class="form-group">
                <label for="account" class="col-sm-2 control-label">Account</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input name="username" type="text" class="form-control" id="account" placeholder="Account"
                               required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </div>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password"
                               required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_spring_security_remember_me"> Remember Me
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <th:block th:text="${#dates.year(#dates.createNow())}"></th:block>
            &copy; <strong><a href="mailto:chinadch@gmail.com">CHINADCH@GMAIL.COM</a></strong>
        </p>
    </div>
</nav>
</body>
</html>