# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
/src/main/webapp/resources/js/
/src/main/resources/database.properties
/src/main/resources/rebel.xml
