<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{share/layout}" th:with="index='monitor'">
<head>
    <meta charset="UTF-8" th:remove="all">
    <title>System Monitor</title>
    <script type="text/javascript" src="../../../resources/bower_components/angular/angular.js"
            th:src="@{/lib/angular/angular.js}"></script>
    <script type="text/javascript" src="../../../resources/bower_components/highcharts/highcharts.src.js"
            th:src="@{/lib/highcharts/highcharts.js}"></script>
    <script type="text/javascript" src="../../../resources/bower_components/highcharts/highcharts-more.src.js"
            th:src="@{/lib/highcharts/highcharts-more.js}"></script>
    <script type="text/javascript" src="../../../resources/js/systemMonitor.js"
            th:src="@{/js/systemMonitor.js}"></script>
</head>
<body>

<th:block layout:fragment="content">
    <div id="container"></div>
</th:block>

</body>
</html>