<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{share/layout}" th:with="index='home'">
<head>
    <meta charset="UTF-8" th:remove="all">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../resources/bower_components/bootstrap/dist/css/bootstrap.css"
          th:remove="all">
</head>
<body>

<th:block layout:fragment="content">
    <div class="jumbotron">
        <div class="container">
            <h2>Enterprise Demo</h2>
            <p>Online design your own website</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" href="#">
                    <h1>
                        <span class="glyphicon glyphicon-blackboard"></span>
                    </h1>
                    <div class="caption">
                        <h3>Design</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" href="#">
                    <h1>
                        <span class="glyphicon glyphicon-book"></span>
                    </h1>
                    <div class="caption">
                        <h3>Office</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" href="#">
                    <h1>
                        <span class="glyphicon glyphicon-comment"></span>
                    </h1>
                    <div class="caption">
                        <h3>Chat</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" href="#">
                    <h1>
                        <span class="glyphicon glyphicon-cloud"></span>
                    </h1>
                    <div class="caption">
                        <h3>Cloud</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" href="#">
                    <h1>
                        <span class="glyphicon glyphicon-envelope"></span>
                    </h1>
                    <div class="caption">
                        <h3>Email</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" href="#">
                    <h1>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </h1>
                    <div class="caption">
                        <h3>Schedule</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" href="#" th:href="@{/config/}">
                    <h1>
                        <span class="glyphicon glyphicon-cog"></span>
                    </h1>
                    <div class="caption">
                        <h3>Configuration</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <a class="thumbnail text-center" th:href="@{/system/monitor}">
                    <h1>
                        <span class="glyphicon glyphicon-wrench"></span>
                    </h1>
                    <div class="caption">
                        <h3>Monitor</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>