<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>

<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
<div class="row" th:fragment="pagination(page,url)">
    <div class="col-sm-6" th:with="currentPageRange=${(page.getNumber()+1)*page.getSize()}">
        <div th:text="'Showing '+ ${page.getNumber()*page.getSize()+1}
                                +' to '
                                + ${currentPageRange gt page.getTotalElements()?page.getTotalElements():currentPageRange}
                                +' of ' +${page.getTotalElements()}+' items'"></div>
    </div>
    <div class="col-sm-6 hidden-sm hidden-xs">
        <ul class="pagination pull-right">
            <li title="First Page" th:classappend="${page.hasPrevious()}?'':'disabled'">
                <a href="#" th:if="${page.hasPrevious()}" th:href="@{${url}(pageIndex=0,pageSize= ${page.getSize()})}">
                    &laquo;
                </a>
                <a href="#" th:unless="${page.hasPrevious()}">
                    &laquo;
                </a>
            </li>
            <li title="Prev Page" th:classappend="${page.hasPrevious()}?'':'disabled'">
                <a th:if="${page.hasPrevious()}"
                   th:href="@{${url}(pageIndex= ${page.getNumber()-1},pageSize=${page.getSize()})}">
                    &lsaquo;
                </a>
                <a th:unless="${page.hasPrevious()}">&lsaquo;</a>
            </li>
            <li th:each="itemIndex:${#numbers.sequence(1,page.getTotalPages())}"
                th:classappend="${itemIndex eq (page.getNumber()+1 )?'active':''}
                    + ' '
                    + (${(itemIndex &lt; 3) or (itemIndex &gt; page.getTotalPages()-2) or (itemIndex - page.getNumber() &gt; -2 and itemIndex - page.getNumber() &lt; 4)}?'':'disabled')"
            >
                <a href="#" th:href="@{${url}(pageIndex=(${itemIndex}-1),pageSize=${page.getSize()})}"
                   th:if="${(itemIndex &lt; 3) or (itemIndex &gt; page.getTotalPages()-2) or (itemIndex - page.getNumber() &gt; -2 and itemIndex - page.getNumber() &lt; 4)}"
                   th:text="${itemIndex}">1</a>
                <a href="#"
                   th:if="${(itemIndex &gt; 2) and (itemIndex &lt; page.getTotalPages()-2) and ((itemIndex - page.getNumber() eq -2) or (itemIndex - page.getNumber() eq 3))}">
                    ...
                </a>
            </li>
            <li title="Next Page" th:classappend="${page.hasNext()}? '' : 'disabled'">
                <a th:if="${page.hasNext()}"
                   th:href='@{${url}(pageIndex=${page.getNumber() + 1},pageSize=${page.getSize()})}'>
                    &rsaquo;
                </a>
                <a th:unless="${page.hasNext()}">
                    &rsaquo;
                </a>
            </li>
            <li title="Last Page" th:classappend="${page.hasNext()}?'':'disabled'">
                <a href="#" th:if="${page.hasNext()}"
                   th:href="@{${url}(pageIndex=${page.getTotalPages()-1},pageSize=${page.getSize()})}">
                    &raquo;
                </a>
                <a href="#" th:unless="${page.hasNext()}">
                    &raquo;
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 hidden-lg hidden-md">
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous" th:classappend="${page.hasPrevious()}?'':'disabled'">
                    <a th:if="${page.hasPrevious()}" href="#"
                       th:href="@{${url}(pageIndex= ${page.getNumber()-1},pageSize=${page.getSize()})}">
                        <span aria-hidden="true">&lsaquo;</span> Prev
                    </a>
                    <a th:unless="${page.hasPrevious()}" href="#"><span aria-hidden="true">&lsaquo;</span> Prev</a>
                </li>
                <li class="next" th:classappend="${page.hasNext()}?'':'disabled'">
                    <a th:if="${page.hasNext()}"
                       th:href='@{${url}(pageIndex=${page.getNumber() + 1},pageSize=${page.getSize()})}'>
                        Next <span aria-hidden="true">&rsaquo;</span>
                    </a>
                    <a th:unless="${page.hasNext()}" href="#">
                        Next <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>