<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/share/layout}" th:with="index='config'">
<head>
    <meta charset="UTF-8">
    <title>Config Home</title>
    <link rel="stylesheet" type="text/css" href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.css"
          th:remove="all">
</head>
<body>

<th:block layout:fragment="content">
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <a class="thumbnail text-center" href="#" th:href="@{/config/user}">
                    <h1>
                        <span class="glyphicon glyphicon-user"></span>
                    </h1>
                    <div class="caption">
                        <h3>Accounts</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <a class="thumbnail text-center" href="#" th:href="@{/config/role}">
                    <h1>
                        <span class="glyphicon glyphicon-king"></span>
                    </h1>
                    <div class="caption">
                        <h3>Roles</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <a class="thumbnail text-center" href="#" th:href="@{/config/operation}">
                    <h1>
                        <span class="glyphicon glyphicon-link"></span>
                    </h1>
                    <div class="caption">
                        <h3>Operation</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>