<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{share/layout}" th:with="index='config'">
<head>
    <title>Config - Operation</title>
    <link rel="stylesheet" type="text/css" href="../../../resources/bower_components/bootstrap/dist/css/bootstrap.css"
          th:remove="all">
    <script type="text/javascript" src="../../../resources/js/config/operation.js"
            th:src="@{/js/config/operation.js}"></script>
</head>
<body>

<th:block layout:fragment="content">
    <ol class="breadcrumb">
        <li>
            <a href="#" th:href="@{/}">Home</a>
        </li>
        <li>
            <a href="#" th:href="@{/config/}">Configuration</a>
        </li>
        <li class="active">Operation</li>
    </ol>

    <div class="container-fluid">
        <form class="form-inline" role="form" action="#" th:action="@{/config/operation/}">
            <div class="input-group form-group">
                <input type="text" name="action" class="form-control" placeholder="Operation Name"
                       th:value="${searchAction}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Search</button>
                </span>
            </div>
            <div class="form-group">
                <a role="button" class="btn btn-primary" href="#" th:href="@{/config/newOperation}">New</a>
                <a id="delBtn" role="button" class="btn btn-danger" href="#" th:href="@{/config/deleteOperations}">Delete</a>
            </div>
        </form>

        <table id="operationList" class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" value="selectAll" id="selectAll">
                </th>
                <th>Action</th>
                <th>Controller</th>
                <th>Remark</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="op:${operationList.result}">
                <td>
                    <input type="checkbox" th:value="${op.id}">
                </td>
                <td th:text="${op.action}"></td>
                <td th:text="${op.controller}"></td>
                <td th:text="${op.remark}"></td>
                <td>
                    <a href="#" role="button" class="btn btn-xs btn-default"
                       th:href="@{/config/editOperation(id=${op.id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination pull-right"
            th:replace="share/common::pagination(${operationList.pageIndex},${operationList.pageCount},'/config/operation?action='+${searchAction})">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</th:block>


</body>
</html>