<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{share/layout}" th:with="index='design'">
<head>
    <meta charset="UTF-8" th:remove="all">
    <title>Design</title>
    <link rel="stylesheet" href="../../../resources/bower_components/jquery-ui/themes/base/jquery-ui.css"
          th:href="@{/lib/jquery-ui/themes/base/jquery-ui.min.css}">
    <link rel="stylesheet" href="../../../resources/css/design.css" th:href="@{/css/design.css}">
    <script type="text/javascript" src="../../../resources/bower_components/jquery-ui/jquery-ui.js"
            th:src="@{/lib/jquery-ui/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="../../../resources/js/design/base.js" th:src="@{/js/design/base.js}"></script>
    <script type="text/javascript" src="../../../resources/js/design/design.js" th:src="@{/js/design/design.js}"></script>
</head>
<body>

<th:block layout:fragment="content">
    <div class="sidebar">

    </div>


</th:block>

</body>
</html>